/*------------------------------------------------------------------	
 Project: FrikiYa!
 Version: Final    
 Authors: Jorge González, Basilio Gómez, Sonia Díaz
 Primary use: Educational
-------------------------------------------------------------------*/

.animsition {

 padding-top: 80px;

}

#header{

 position: fixed;
 top: 0;
 height: 80px;
 padding-top: 80px;
 left: 0;
 width: 100%;
 z-index: 1000;

}

.container-menu-header {

 top: inherit;
 position: inherit;
 -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
 top: 0px !important;

}

.wrap_header {

 padding-left: 200px;
 justify-content: flex-start;

}

.logo{

 left:30px;

}

.logo img {

 width:120px;
 height:60px;

}

/*Buscador
---------------------------------------------------------*/

.containersearcher {

 max-width: 480px;

}

.fila {

 justify-content: flex-end;

}

.form-control {

 font-family: Montserrat-Regular;
 font-weight: 400;
 font-size: 13px;
 height: 27px;
 margin-top: -2.5px;

}

.col-lg-6 {

 max-width: 70%;

}

.search-form .input-group {

 float: right !important;
 transition: all 0.35s, border-radius 0s;
 width: 27px;
 height: 27px;
 background-color: #fff;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
 border-radius: 25px;
 border: 1px solid #ccc;
 padding-left: 8px;

}

.centrarmain{

 margin-top: 150px;

}

.bajarbuscador{

 margin-top:70px;
}

.estructuraprincipal{

 font-size: 22px;
 font-weight: 800;
 letter-spacing: 1px;
 line-height: 1;
 margin-top: 10px;
 text-shadow: #555 2px 2px 3px;

}


.gruposearcher {

 transition: all 0.35s, border-radius 0s;
 height: 40px;
 background-color: #fff;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
 border-radius: 25px;
 border: 1px solid #ccc;

}

.limitsearchermain{

 width: 860px;

}

.controlsearcher {

 position: fixed;
 margin-top: -8px;
 border:none;
 background: transparent;
 box-shadow: none;
 display:block;
 padding: 1rem 2rem;

}

.control-feedback {

 position: absolute;
 right: 0px;
 display: block;
 width: 40px;
 height: 40px;
 margin-right: 20px;
 line-height: 34px;
 color: #3596e0;
 font-size: 18px;

}

.search-form .input-group input.form-control {

 margin-left: -25px;
 border:none;
 background: transparent;
 box-shadow: none;
 display:block;
 padding: 1rem 2rem;

}

.search-form .input-group input.form-control::-webkit-input-placeholder {
 
 display: none;

}

.search-form .input-group input.form-control:-moz-placeholder {

 /* Firefox 18- */
 display: none;

}

.search-form .input-group input.form-control::-moz-placeholder {

 /* Firefox 19+ */
 display: none;

}

.search-form .input-group input.form-control:-ms-input-placeholder {

 display: none;

}

.search-form .input-group:hover,
.search-form .input-group.hover {

 width: 100%;
 border-radius: 25px 25px 25px 25px;

}

.search-form .input-group span.form-control-feedback {

 position: absolute;
 top: -5px;
 bottom: 0px;
 right: -5px;
 left: 0px;
 display: block; 
 width: 34px;
 height: 34px;
 line-height: 34px;
 text-align: center;
 color: #3596e0;
 left: initial;
 font-size: 14px;

}

.colorletramenu { 

 color: red  !important;

}

#linea {
  
 text-align: center; 
 height: 2px; 
 background: -moz-linear-gradient(left, #fff, #a8a8a8, #fff);
 width:100%;
}

.main_menu > li:hover > a {

 border-bottom: 1px solid white;
 color:#177CBE;

}

.item-slick1 {
 
 height: 440px;

}

.wrap-table-shopping-cart {
 
 overflow-x: visible;

}

.shadow-car {
  
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.text-overflow {

 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 max-width: 80%;

}

.secondary-button {
 
 background-color: #e1e1e1;
 width: 100%;
 height: 50px;

}

.sticky-center {

 position: sticky;
 top: 100px;

}

.notification-message {
    width: 100%;
    font-size: 25px;
    text-align: center;
}

#cart-message {
    margin-top: 50px;
}